@page "/"
@page "/users"



<h3>Users</h3>

<div>
    <button class="btn btn-primary" @onclick="Add">Add</button>
    <button class="btn btn-light" @onclick="RefreshAsync">Refresh</button>
</div>

@if (!users.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@users" Pagination="@pagination">
        <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Surname)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Email)" Sortable="true" />
        <PropertyColumn Property="@(p => p.BirthDate)" Title="Date of Birth" Format="yyyy-MM-dd" Sortable="true" />
        <PropertyColumn Property="@(p => p.IsAdult)" Title="Is Adult" />
        <TemplateColumn Title="Actions">
            <button class="btn btn-secondary" @onclick="@(() => Edit(context))">Edit</button>
            <button class="btn btn-danger" @onclick="@(() => DeleteAsync(context))">Delete</button>
        </TemplateColumn>
    </QuickGrid>

    <Paginator State="@pagination" />
}


@code {

    [Inject]
    private NavigationManager Navigation { get; set; }

    [Inject]
    private HttpClient ApiClient { get; set; }

    private UserDto[] _users = [];

    private IQueryable<UserDto> users => _users.AsQueryable();

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };


    protected override async Task OnInitializedAsync()
    {
        await LoadUsersAsync();
    }


    private void Add()
    {
        Navigation.NavigateTo("new-user");
    }

    private void Edit(UserDto user)
    {
        Navigation.NavigateTo($"edit-user/{user.Id}");
    }


    private async Task DeleteAsync(UserDto user)
    {
        await ApiClient.DeleteAsync($"users/{user.Id}");

        await RefreshAsync();
    }

    private async Task RefreshAsync()
    {
        await LoadUsersAsync();
    }


    private async Task LoadUsersAsync()
    {
        _users = await ApiClient.GetFromJsonAsync<UserDto[]>("users") ?? [];
    }
}
