@page "/"
@page "/users"



<h3>Users</h3>

@if (!users.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@users">
        <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Surname)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Email)" Sortable="true" />
        <PropertyColumn Property="@(p => p.BirthDate)" Format="yyyy-MM-dd" Sortable="true" />
    </QuickGrid>
}


@code {

    [Inject]
    private HttpClient ApiClient { get; set; }

    private UserDto[] _users = [];

    private IQueryable<UserDto> users => _users.AsQueryable();


    protected override async Task OnInitializedAsync()
    {
        _users = await ApiClient.GetFromJsonAsync<UserDto[]>("users");
    }


}
